<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2024 Pointyware. Use of this software is governed by the GPL-3.0 license.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7815756395963999~1126625934" />
    </application>
</manifest>
