
# Mac/iOS Files
.DS_Store
xcuserdata

# IntelliJ/Android Studio
/build
captures/

*.iml
.gradle
.idea
.kotlin
.externalNativeBuild
.cxx

# Properties
local.properties
secrets.properties
stripe-secrets.properties

## Release Information
/release.keystore
/app-android/debug/app-android-debug.aab
/app-android/release/app-android-release.aab
/xyz-debug-*.json

## Local Test Data
/testing
