*.iml
.DS_Store
.gradle
.idea
.kotlin
build
captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
stripe-secrets.properties
xcuserdata

## Release Information
/release.keystore
/app-android/debug/app-android-debug.aab
/app-android/release/app-android-release.aab
/xyz-debug-*.json

## Local Test Data
/testing
