<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2025 Pointyware. Use of this software is governed by the Affero GPL-3.0 license.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${AD_MOB_APP_ID}" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

    </application>

</manifest>
